.fixed-footer {
    display: none;
  }

  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .service {
    text-align: center;
    margin: 20px;
    width: 300px;
  }

  .service img {
    display: block;
    margin: 0 auto;
  }