<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<!--<img src="img/logo.png" alt="logo">-->

<main class="container">
    <div class="jumbotron">
        <h1>Welcome to my Portfolio website</h1>
        <p>My name is Juan Moscoso Lagos, and this is my assignment #1 for my Web Application development class</p>
        <p>As a full time international student, my objective is to enhance my skills as much as I can</p>
        <a href="/about" class="btn btn-primary">About Me</a>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>




   